// Ejemplo de overrides (accesibilidad/contraste)
$body-color: #111;
$body-bg: #fff;
$font-size-base: 1.05rem; // fuente un poco más grande
$enable-smooth-scroll: true;

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;
