// Ejemplo de overrides (accesibilidad/contraste)
$font-family-sans-serif: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
$primary: #1a56db;
$body-color: #111;
$body-bg: #fff;
$font-size-base: 1.05rem; // fuente un poco más grande
$enable-smooth-scroll: true;

$primary: #081ca1;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;
$light: #f8f9fa;
$dark: #212529;
